@charset "UTF-8";
/*==========================================================================
# reset - ブラウザの差異や不要なスタイルを無くすためのスタイル
========================================================================== */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td, small, button, time, figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li, dd {
  list-style-type: none;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

a {
  cursor: pointer;
  text-decoration: none;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

body {
  /* プロジェクトによって変動 */
  min-width: 1000px;
  color: #000;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'YuGothic', '游ゴシック', 'メイリオ', Meiryo, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, sans-serif;
  width: 100%;
  font-variant-numeric: tabular-nums;
  /* safari hover対策 */
  -webkit-font-smoothing: antialiased;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ul, ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

img {
  vertical-align: bottom;
  line-height: 1.0;
}

button {
  line-height: 1.0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.red {
  color: tomato;
  font-weight: 700;
}

.opacity:hover {
  opacity: 0.7;
}

/*  body  */
body {
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  overflow-x: hidden;
  color: #000;
  font: 300 14px / 1.9 "Noto Sans JP", Arial, Verdana, 游ゴシック, YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, sans-serif;
  background-color: #ffffff;
}

img {
  vertical-align: bottom;
}

/*  サイドバー  */
.sidebar {
  background-color: #333;
  width: 22%;
  position: fixed;
  right: 0;
  height: 100%;
  display: block;
}

.side-logo {
  height: 22.42px;
  padding: 25px 0 40px 0;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Modern Antiqua' , 'Noto Sans JP' ,serif;
  margin-bottom: 50px;
}

.side-contents {
  padding-left: 16%;
}

.side-menu li a {
  color: #fff;
  font-size: 18px;
  font-family: 'Modern Antiqua' , 'Noto Sans JP' ,serif;
}

.side-menu li a:hover {
  text-decoration: underline;
}

.side-menu li {
  padding-bottom: 25px;
}

.fab:hover {
  opacity: 0.5;
}

.size {
  color: #fff;
}

/*  メイン  */
.content {
  width: 78%;
}

.top-img {
  width: 100%;
  height: 500px;
  /*  画像の場合削除  */
  background-color: #333;
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  padding-top: 100px;
}

/*  message-wrapper  */
.delete {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.message-wrapper {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.textarea {
  width: 80%;
  margin: 0 auto;
  text-align: left;
  padding-bottom: 80px;
}

.photo-wrapper img {
  width: 33.3333%;
}

span .big {
  width: 100%;
}

/*  profile  */
.heading {
  font-family: 'Modern Antiqua' , 'Noto Sans JP' ,serif;
  color: #222222;
  font-size: 22px;
  padding-top: 80px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 50px;
  border-bottom: 3px solid #222222;
  display: inline-block;
}

/*  brand  */
.brand-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  border-bottom: 2px solid #222222;
}

.brand-wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
}

.contents-item {
  width: 25%;
  padding: 0 25px;
  text-align: left;
}

.contents-item img {
  width: 100%;
  padding-bottom: 10px;
}

/*  projyect  */
.project-wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 120px;
  border-bottom: 2px solid #222222;
}

.project-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
}

.project-item p {
  text-align: left;
}

.project-item img {
  width: 375px;
  padding-right: 20px;
}

/*  company  */
.company-wrapper {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 100px;
}

.company-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company-item p {
  text-align: left;
}

.company-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 30px;
}

.gg-map {
  width: 500px;
  position: relative;
  padding-bottom: 60px;
}

.iframe {
  position: absolute;
  bottom: 0px;
  left: 0;
  background-color: darkgray;
  height: 100%;
  width: 100%;
}

/*  footer  */
footer {
  background-color: #333333;
  width: 80%;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 80px;
}

footer p {
  color: #ffffff;
  text-align: center;
}

gg-map {
  background-color: #000;
  width: 60%;
  position: relative;
  padding-bottom: 60px;
}

gg-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*  home_button  */
.home_button {
  position: fixed;
  z-index: 20;
  right: 50px;
  bottom: 20px;
}

.home_button a {
  padding: 10px;
  text-decoration: none;
  opacity: 0.7;
  width: 50px;
  height: 50px;
  color: #fff;
  font-size: 12px;
  background-color: navy;
}

.home_button a:hover {
  opacity: 1;
}

.is-active {
  border-bottom: 2px solid #000;
}

/*  contact  */
.contact {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15px;
}

.contact .contact_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: auto;
  padding-bottom: 30px;
  border-bottom: 2px solid #222222;
}

.contact .contact_flex .flex_left {
  width: 35%;
  height: 100%;
  margin-top: 100px;
}

.contact .contact_flex .flex_left .font_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px 0px;
  font-size: 16px;
}

.contact .contact_flex .flex_right {
  width: 60%;
  height: 100%;
}

form {
  width: 90%;
  margin: 10% auto;
  min-width: 9rem;
}

input, textarea {
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 1rem 1rem;
  border-radius: 0.3rem;
  background: #e0e0e0;
  color: #7a7a7a;
}

input[type=submit], textarea[type=submit] {
  background: #84AD47;
  color: #fff;
  width: 200px;
  margin: auto;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #7a7a7a;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #7a7a7a;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  color: #7a7a7a;
}

input::placeholder, textarea::placeholder {
  color: #7a7a7a;
}

input.error, textarea.error {
  background: #AD4747;
  color: #fff;
}

input.error::-webkit-input-placeholder, textarea.error::-webkit-input-placeholder {
  color: black;
}

input.error:-ms-input-placeholder, textarea.error:-ms-input-placeholder {
  color: black;
}

input.error::-ms-input-placeholder, textarea.error::-ms-input-placeholder {
  color: black;
}

input.error::placeholder, textarea.error::placeholder {
  color: black;
}

textarea {
  height: 15rem;
}

/*  contact.html  */
.complete {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 120px;
  border-bottom: 2px solid #222222;
}

.complete .complete_button {
  width: 350px;
  height: 50px;
  color: #ffffff;
  background-color: #333;
  border-radius: 8px;
}

.complete .complete_button:hover {
  opacity: 0.7;
}

/*  table  */
table {
  margin: auto;
  margin: 50px 0px;
  border-collapse: collapse;
  /* セルの線を重ねる */
}

tr:nth-child(odd) {
  background-color: #ddd;
  /* 背景色指定 */
}

th, td {
  padding: 5px 10px;
}

th {
  text-align: left;
}

td {
  text-align: center;
}

.textarea {
  text-align: center;
  height: 100%;
}

@media screen and (max-width: 900px) {
  /*  メイン  */
  .content {
    width: 78%;
    height: 100%;
  }
  .inner {
    width: 80%;
  }
  .inner_photo {
    width: 95%;
  }
  .top-img {
    height: 400px;
  }
  /*  message-wrapper  */
  .delete {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }
  .message-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .textarea {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 80px;
  }
  /*  photo-wrapper  */
  .photo-wrapper {
    width: 100%;
    height: 100%;
    z-index: 1;
    text-align: center;
    margin: auto;
  }
  .photo-wrapper img {
    width: 30%;
  }
  span .big {
    width: 90%;
    height: 100%;
  }
  /*  projyect  */
  .project-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 120px;
    border-bottom: 2px solid #222222;
  }
  .project-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 70px;
  }
  .project-item p {
    text-align: center;
    width: 40%;
  }
  #project-item-img {
    width: 50%;
    height: 200px;
    padding-right: 30px;
    margin-left: 50px;
  }
  /*  company  */
  .company-wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
  }
  .company-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .company-item p {
    text-align: left;
    width: 30%;
  }
  .company-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
  }
  .gg-map {
    width: 350px;
    position: relative;
    padding-bottom: 60px;
    z-index: 1;
  }
  /*  footer  */
  footer {
    background-color: #333333;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 60px;
  }
  footer p {
    color: #ffffff;
    text-align: center;
  }
  gg-map {
    background-color: #000;
    width: 60%;
    position: relative;
    padding-bottom: 60px;
  }
  gg-map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  body {
    min-width: none;
  }
  .inner {
    width: 85%;
    text-align: center;
    margin: auto;
  }
  .inner_photo {
    width: 90%;
    text-align: center;
    margin: auto;
  }
  /*  ハンバーガーメニュー  */
  .hamburger {
    display: block;
    position: fixed;
    z-index: 5;
    right: 20px;
    top: 10px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }
  .hamburger span {
    display: block;
    position: absolute;
    width: 40px;
    height: 4px;
    left: 6px;
    background: #333;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .hamburger span:hover {
    opacity: 0.7;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }
  /* ナビ開いてる時のボタン */
  .hamburger.active span:nth-child(1) {
    top: 16px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    color: #000;
  }
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3) {
    color: #000;
    top: 16px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .hamburger.active span:nth-child(1):hover {
    opacity: 0.7;
  }
  .hamburger.active span:nth-child(2),
  .hamburger.active span:nth-child(3):hover {
    opacity: 0.7;
  }
  nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #000;
    background: #AAAAAA;
    text-align: center;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    width: 100%;
  }
  nav.globalMenuSp ul {
    background: #AAAAAA;
    opacity: 0.8;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0;
    padding-top: 10px;
    width: 100%;
  }
  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    font-weight: 600;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
    border-bottom: none;
  }
  nav.globalMenuSp ul li:hover {
    background: #ddd;
  }
  nav.globalMenuSp ul li a {
    display: block;
    color: #000;
    padding: 1em 0;
    text-decoration: none;
  }
  .header-nav ul {
    display: block;
  }
  nav.globalMenuSp.active {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  /*  サイドバー  */
  .sidebar {
    display: block;
    width: 0%;
    height: 0%;
  }
  /*  メイン  */
  .content {
    width: 75%;
  }
  .top-img {
    width: 100%;
    height: 400px;
    /*  画像の場合削除  */
    background-color: #333;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-top: 100px;
  }
  /*  message-wrapper  */
  .delete {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
  }
  .message-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .textarea {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 80px;
  }
  .photo-wrapper img {
    width: 30%;
  }
  span .big {
    width: 90%;
  }
  /*  profile  */
  .heading {
    font-family: 'Modern Antiqua' , 'Noto Sans JP' ,serif;
    color: #222222;
    font-size: 22px;
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 50px;
    border-bottom: 3px solid #222222;
    display: inline-block;
  }
  /*  brand  */
  .brand-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 15px;
    border-bottom: 2px solid #222222;
  }
  .brand-wrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
  }
  .contents-item {
    width: 25%;
    padding: 0 25px;
    text-align: left;
  }
  .contents-item img {
    width: 100%;
    padding-bottom: 10px;
  }
  /*  projyect  */
  .project-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 120px;
    border-bottom: 2px solid #222222;
  }
  .project-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 70px;
  }
  .project-item p {
    text-align: left;
  }
  .project-item img {
    width: 300px;
    padding-right: 20px;
  }
  /*  company  */
  .company-wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
  }
  .company-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .company-item p {
    text-align: left;
  }
  .company-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 30px;
  }
  .gg-map {
    width: 350px;
    position: relative;
    padding-bottom: 60px;
  }
  .iframe {
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: darkgray;
    height: 100%;
    width: 100%;
  }
  /*  footer  */
  footer {
    background-color: #333333;
    width: 80%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 80px;
  }
  footer p {
    color: #ffffff;
    text-align: center;
  }
  .footer_inner {
    width: 80%;
  }
}

@media screen and (max-width: 650px) {
  body {
    min-width: 630px;
    text-align: center;
    margin: auto;
  }
  /*  メイン  */
  .content {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .inner {
    width: 85%;
    text-align: center;
    margin: auto;
  }
  .inner_photo {
    width: 90%;
    text-align: center;
    margin: auto;
  }
  /*  サイドバー  */
  .sidebar {
    display: block;
    width: 0%;
    height: 0%;
  }
  .top-img {
    width: 100%;
    height: 400px;
    /*  画像の場合削除  */
    background-color: #333;
    color: #ffffff;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-top: 100px;
  }
  .message-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .textarea {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding-bottom: 80px;
  }
  .photo-wrapper img {
    width: 30%;
  }
  span .big {
    width: 90%;
  }
  /*  profile  */
  .heading {
    font-family: 'Modern Antiqua' , 'Noto Sans JP' ,serif;
    color: #222222;
    font-size: 22px;
    padding-top: 80px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 50px;
    border-bottom: 3px solid #222222;
    display: inline-block;
  }
  /*  brand  */
  .brand-contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 15px;
    border-bottom: 2px solid #222222;
  }
  .brand-wrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
  }
  .contents-item {
    width: 25%;
    padding: 0 25px;
    text-align: left;
  }
  .contents-item img {
    width: 100%;
    padding-bottom: 10px;
  }
  /*  projyect  */
  .project-wrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 120px;
    border-bottom: 2px solid #222222;
  }
  .project-item {
    display: block;
    margin-bottom: 70px;
    text-align: center;
  }
  .project-item p {
    text-align: center;
    width: 90%;
    margin-top: 30px;
  }
  .project-item img {
    width: 300px;
    height: 100%;
    padding-right: 20px;
    margin: auto;
  }
  /*  company  */
  .company-wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
    height: 100%;
  }
  .company-item {
    display: block;
    text-align: center;
    margin: auto;
    height: 100%;
  }
  .company-item p {
    text-align: center;
    margin: auto;
  }
  .company-contents {
    display: block;
    padding-top: 30px;
  }
  .gg-map {
    text-align: center;
    margin: auto;
    width: 450px;
    height: 100%;
    position: relative;
    padding-bottom: 60px;
  }
  .iframe {
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: darkgray;
    height: 100%;
    width: 100%;
  }
  /*  contact  */
  .contact {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
  }
  .contact .contact_flex {
    display: block;
    text-align: center;
    margin: auto;
    padding-bottom: 530px;
    border-bottom: 2px solid #222222;
  }
  .contact .contact_flex .flex_left {
    width: 80%;
    height: 100%;
    margin-top: 50px;
  }
  .contact .contact_flex .flex_left .font_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 30px 0px;
    font-size: 18px;
  }
  .contact .contact_flex .flex_right {
    width: 90%;
    height: 100%;
  }
  .contact .contact_flex .flex_right form {
    width: 90%;
    margin: 10% auto;
    min-width: 9rem;
  }
  input, textarea {
    float: left;
    width: 100%;
    max-width: 100%;
    border: none;
    margin: 0.5rem 0;
    padding: 1rem 1rem;
    border-radius: 0.3rem;
    background: #e0e0e0;
    color: #7a7a7a;
  }
  input[type=submit], textarea[type=submit] {
    background: #84AD47;
    color: #fff;
    width: 200px;
    margin: auto;
  }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #7a7a7a;
  }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #7a7a7a;
  }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder {
    color: #7a7a7a;
  }
  input::placeholder, textarea::placeholder {
    color: #7a7a7a;
  }
  input.error, textarea.error {
    background: #AD4747;
    color: #fff;
  }
  input.error::-webkit-input-placeholder, textarea.error::-webkit-input-placeholder {
    color: black;
  }
  input.error:-ms-input-placeholder, textarea.error:-ms-input-placeholder {
    color: black;
  }
  input.error::-ms-input-placeholder, textarea.error::-ms-input-placeholder {
    color: black;
  }
  input.error::placeholder, textarea.error::placeholder {
    color: black;
  }
  textarea {
    height: 15rem;
  }
  /*  footer  */
  footer {
    background-color: #333333;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 80px;
  }
  footer p {
    color: #ffffff;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  body {
    min-width: 580px;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 520px) {
  body {
    min-width: 500px;
    text-align: center;
    margin: auto;
  }
  /*  brand  */
  .brand-contents {
    display: block;
    padding-bottom: 15px;
    border-bottom: 2px solid #222222;
  }
  .brand-wrapper {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 15px;
  }
  .contents-item {
    width: 70%;
    padding: 25px 0px;
    text-align: center;
    margin: auto;
  }
  .contents-item img {
    width: 70%;
    padding-bottom: 10px;
  }
  .project-item img {
    width: 90%;
    height: 100%;
    padding-right: 20px;
    margin: auto;
  }
  .gg-map {
    text-align: center;
    margin: auto;
    width: 380px;
    height: 100%;
    position: relative;
    padding-bottom: 60px;
  }
  /*  company  */
  .company-wrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
    height: 100%;
  }
  .company-item {
    display: block;
    text-align: center;
    margin: auto;
    height: 100%;
  }
  .company-item p {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .company-contents {
    display: block;
    padding-top: 30px;
  }
  .gg-map {
    text-align: center;
    margin: auto;
    width: 330px;
    height: 100%;
    position: relative;
    padding-bottom: 60px;
  }
  .iframe {
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: darkgray;
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  body {
    min-width: 430px;
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 420px) {
  body {
    min-width: 380px;
    text-align: center;
    margin: auto;
  }
  /*  company  */
  .company-wrapper {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 100px;
    height: 100%;
  }
  .company-item {
    display: block;
    text-align: center;
    margin: auto;
    height: 100%;
  }
  .company-item p {
    width: 100%;
    text-align: center;
    margin: auto;
  }
  .company-contents {
    display: block;
    padding-top: 30px;
  }
  .gg-map {
    text-align: center;
    margin: auto;
    width: 330px;
    height: 100%;
    position: relative;
    padding-bottom: 60px;
  }
  .iframe {
    position: absolute;
    bottom: 0px;
    left: 0;
    background-color: darkgray;
    height: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 390px) {
  body {
    min-width: 360px;
    text-align: center;
    margin: auto;
  }
  .project-item {
    display: block;
    margin-bottom: 70px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  #project-item-img {
    width: 200px;
    height: 100%;
    margin: auto;
  }
}
